h1 {
  font-size: 60px;
  text-align: center;
}
h1 {
  margin: 0;
  padding: 20px 0;    
  color: #00539F;
  text-shadow: 3px 3px 6px black;
}

p, li {
  font-size: 16px;    
  line-height: 2; 
  letter-spacing: 1px;
}
html {
background-color: #721EC6;
font-size: 10px; /* px 은 'pixels' 를 의미합니다: 기본 글자 크기는 현재 10 pixels 높이입니다. */
  font-family: 'Nanum Gothic', sans-serif;
}
body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}
img {
  display: block;
  margin: 0 auto;
}